*{
    margin: 0;
    padding: 0;
    height: auto;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    color: greenyellow;
    box-shadow: rgba(50, 50, 30,0.23)0 30px 30px -20px;
    

}
.nav-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
   list-style: none;
   width: auto;
}
.home,.services,.aboutus,.contect,.solution{
    text-decoration: none;
    color: #34E129;
    font-size: 25px;
    padding: 5px 50px;
    margin: 0 10px ;
    cursor: pointer;
    border: 2px solid #34E129;
    border-radius: 20px;
}

.logo{
    display: flex;
    width: 100px;
    height: 100px;

}